<div class="container-fluid bg-main h-100">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="login-surface mt-3">
        <div class="d-flex flex-column p-5">
          <div class="pb-3"><h4>Create your account</h4></div>
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>

            <div class="form-group">
              <%= f.label :email %><br />
              <%= f.email_field :email, placeholder: "JohnDoe@example.com", autofocus: true, autocomplete: "email", class: "form-control" %>
            </div>

            <div class="form-group">
              <%= f.label :name %><br />
              <%= f.text_field :name, placeholder: "John Doe", autofocus: true, autocomplete: "John Doe", class: "form-control" %>
            </div>

            <div class="form-group">
              <%= f.label :handle %><br />
              <%= f.text_field :handle, placeholder: "@JohnDoe", autofocus: true, autocomplete: "@JohnDoe", class: "form-control" %>
            </div>

            <div class="form-group">
              <%= f.label :password %>
              <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> characters minimum)</em>
              <% end %><br />
              <%= f.password_field :password, placeholder: "Password", autocomplete: "new-password", class: "form-control" %>
            </div>

            <div class="form-group">
              <%= f.label :password_confirmation %><br />
              <%= f.password_field :password_confirmation, placeholder: "Password", autocomplete: "new-password", class: "form-control" %>
            </div>

            <div class="actions">
              <%= f.submit "Sign up", class: "btn btn-primary action-btn"%>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
