<div class="container-fluid bg-main">
  <div class="row">
    <div class="col-md-3 offset-md-1">
      <div class="login-surface mt-3">
        <div class="row">
            <div class="col-3">
                <%= image_tag "logo_stripped.png", class: "navbar-logo"%>
            </div>
            <div class="col-9">
                <h4><%= @user.name%></h4>
                  <span><%= @user.microposts.length%></span>
                  <span>posts</span>
            </div>
        </div>
      </div>  
    </div>
        <div class="col-md-6 offset-md-2">
          <div class="login-surface mt-3">
            <% if @user.microposts.any? %>
              <h4>Posts</h4>
              <ol class="microposts pt-3">
                <%= render @microposts %>
              </ol>
            <% end %>
        </div>
    </div>
  </div>
</div>
