<div class="container-fluid bg-main">
  <div class="row">
    <div class="col-md-3 offset-md-1">
      <div class="login-surface mt-3">
        <div class="row">
            <div class="col-3">
                <%= image_tag "logo_stripped.png", class: "navbar-logo"%>
            </div>
            <div class="col-9">
                <h4 class="mb-0"><%= current_user.name%></h4>
                <h5 class="mb-0"><%= link_to "View my profile", current_user, class: "profile-link"%></h5>
                <span class="profile-posts-length"><%= current_user.microposts.length%></span>
                <span class="profile-posts-label"><%= "post".pluralize(current_user.microposts.length)%></span>
            </div>
        </div>
        <% if user_signed_in? %>
            <div class="row">
                <aside class="col-md">
                    <section class="micropost_form">
                        <%= render 'shared/micropost_form' %>
                    </section>
                </aside>
            </div>
        <% else %>
        <% end %>
      </div>
    </div>
    <div class="col-md-6 offset-md-2">
        <div class="login-surface mt-3">
            <h4>Posts by you and your matches</h4>
            <%= render 'shared/feed' %>
        </div>
    </div>
  </div>
</div>
