<div class="container-fluid bg-main h-100">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="login-surface mt-3">
        <div class="d-flex flex-column p-5">
          <div class="pb-3"><h4>Login to meteorite</h4></div>
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="form-group">
              <%= f.label :email %><br />
              <%= f.email_field :email, placeholder: "JohnDoe@example.com", autofocus: true, autocomplete: "email", class: "form-control" %>
            </div>

            <div class="form-group">
              <%= f.label :password %><br />
              <%= f.password_field :password, placeholder: "Password", autocomplete: "current-password", class: "form-control" %>
            </div>

            
            <div class="d-flex align-items-baseline pb-2">
              <div class="pr-3">
                <%= f.submit "Log in", class: "btn btn-primary action-btn"%>
              </div>
              <% if devise_mapping.rememberable? %>
                <div class="pr-2">
                  <%= f.check_box :remember_me %>
                  <%= f.label :remember_me, class: "accent-label"%>
                </div>
              <% end %>
              <%= link_to "Forgot your password?", new_user_password_path, class: "text-link"%>
            </div>
            <div class="d-flex align-items-baseline">
              <div class="pr-2">
                <label class="accent-label">Don't have an account?</label>
              </div>
               <div>
                <%= link_to "Sign up now", new_user_registration_path, class: "text-link"%>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
