@import "_custom";
@import "bootstrap";

html,
body {
    height: 100%;
}

.placeholder-img {
    background-color: $primary;
    max-width: 100%;
    width: 200px;
    height: 200px;
}

.container-fill {
    //text-align: center;
    width: 100%;
}

.navbar-light {
    background-color: $primary-color-3;
}

.btn-primary {
    font-weight: bold;
    background-color: $primary;
    border: none;
    color: $dark;
    box-sizing: border-box;
    border-radius: 4px;

    &:hover {
        color: $dark;
        background-color: $primary;
        border: none;
    }
}

.btn-outline-primary {
    color: $dark;
    font-weight: bold;
    border: 2px solid $primary;
    box-sizing: border-box;
    border-radius: 4px;

    &:hover {
        background-color: $primary;
        color: $dark;
        font-weight: bold;
        border: 2px solid $primary;
    }
}

.nav-item .btn {
    border-radius: 4px;
}

.banner-image {
    max-width: 200px;
    height: auto;
}

.gradient-bg {
    background: linear-gradient(90deg, #FF837C 0%, #FECEA8 100%);
}

h1,
h2,
h3,
h4,
p {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    color: $dark;
}

h4 {
    font-weight: 500;
}

.meteorite-h1 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
}

#tagline {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
}

#byline {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
}

.navbar-brand {
    font-weight: bold;
}

.navbar-logo {
    max-width: 30px;
    height: auto;
}

.navbar-light .navbar-text a {
    color: $dark;
    font-weight: bold;
}

.navbar-light .navbar-nav {
    .nav-link {
        color: $dark;
    }
}

.meteorite-nav-item {
    color: $dark;
}

.login-surface {
    padding: 5%;
    background-color: $background-color;
    max-width: 710px;
    height: auto;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.bg-main {
    background-color: $primary-color-light;
}

.form-control {
    border-color: $dark;
    border-width: 1px;
    border-radius: 5px;
    background-color: $background-color;
    color: $dark;

    &:focus {
        border-color: $dark;
        border-width: 1px;
        border-radius: 5px;
        background-color: $background-color;
        color: $dark;
        box-shadow: none;
    }
}


label {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    color: $dark;
}

.accent-label {
    color: $gray-light;
    font-style: normal;
    font-weight: normal;
}

input::-webkit-input-placeholder,
input:-moz-placeholder,
input::-moz-placeholder,
input:-ms-input-placeholder {
    color: $very-light-gray !important;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
}

.text-link {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    color: $gray-light;

    &:hover {
        color: $gray-light;
    }
}

input[type=submit] {
    padding: 5px 15px;
    min-width: 120;
    min-height: 40;
}

.all-caps {
    letter-spacing: 0.05em;
}

.micropost-name {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    color: $dark;
    margin: 0;
}

.profile-link {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    color: $dark;

    &:hover {
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        color: $dark;
    }
}

.micropost-handle {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: $gray-light;
    margin: 0;
}


.micropost-timestamp {
    font-family: Roboto;
    font-style: normal;
    font-size: 18px;
    line-height: 21px;
    color: $very-light-gray;
    margin: 0;
}

.micropost-content {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    word-wrap: break-word;
}

.micropost-img {
    max-width: 30px;
    max-height: auto;
}

.microposts {
    list-style: none;
    padding: 0;
}

.profile-posts-length {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: $dark;
}

.profile-posts-label {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: $gray-light;
}
