<!DOCTYPE html>
<html>
  <head>
    <title>Meteorite</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
<nav class="navbar navbar-expand-lg navbar-light bg-primary-color-3">
    <div class="container">
      <a class="navbar-brand" href="/"> 
        <%= image_tag "logo_stripped.png", class: "navbar-logo"%>
        Meteorite
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <%= link_to "Home", home_index_path, class: "nav-link" %>
          </li>
          <% if user_signed_in? %>
            <li class="nav-item">
              <%= button_to "Sign Out", destroy_user_session_path, :method => "delete", :class => "btn btn-primary"  %>
            </li>
            <li>
              Logged in as <strong><%= current_user.name %></strong>
            </li>
           <% else %>
            <li class="nav-item">
             <%= button_to "Login", new_user_session_path, :method => "get", :class => "btn btn-primary mr-1" %>
            </li>
             <li class="nav-item">
             <%= button_to "Sign up",  new_user_registration_path, :method => "get", :class => "btn btn-outline-primary" %>
            </li>
            <% end %>
        </ul>
      
      </div>
    </div>
  </nav>
    <%= yield %>
  </body>
</html>
